@import "tailwindcss";

@layer base {
  :root {
    --primary: #2563eb;
    --secondary: #4b5563;
  }
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-gray-400;
}
